@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1D29;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    /* scroll-behavior: smooth; */
  }
  
  html::-webkit-scrollbar {
    width: .6rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #1A1D29;
  }
  
  html::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(203, 215, 255, 0.08);
  }

  
  